body{
    background-color: black;
}
.wrapper{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 300px;
    height: 300px;
    margin: 5%;
}
.wrapper :is(.bnt, .link) {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
    background-color: white;
    color: #151515;
    border-radius: 50%;
}
.bnt{
    align-items: center;
    justify-content: center;
    position: absolute;
    border: none;
    cursor: pointer;
    z-index: 10;
    transition: outline .25s;
    margin-top: 16%;
    margin-left: 30%;
}
.active .bnt,
.bnt:hover{
    outline: 5px solid #bb93fc;
    outline-offset: -4px;
}
.active .link1:hover {
    background-image: linear-gradient(to bottom rigth, #6e1ccf 0%, #ef328c 50%, #F1BF42 100%);
}
.active .link2:hover {
    background-color: hsl(134, 100%, 49%);
}
.active .link3:hover {
    background-color: hsl(244, 100%, 58%);
}

.item{
    position: absolute;
    list-style: none;
    transition: transform .5s;
    transition-delay: var(--d);
}

.wrapper.active .item:nth-child(1) {
    transform: translateX(-55px);
}
.wrapper.active .item:nth-child(2) {
    transform: translateY(-55px);
}
.wrapper.active .item:nth-child(3) {
    transform: translateX(55px);
}